.bigcard-container {
    display: flex;
    align-items: center;
    border: 3px solid rgb(1, 1, 1);
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(87, 86, 86);
}

.bigcard-container > img {
    width: 80px;
    margin-right: 15px;
    border-radius: 50%;
}

.bigcard-container h4 {
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.bigcard-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}