* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}


header {
    text-align: left;
    background-color: mediumvioletred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    height: 50px;
}

.iconebolo {
    width: 26px;
    height: 26px;
}

.logotipo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
}

.botao {
    display: flex;
    padding: 0 20px 0 20px;
}


.menu {
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #f2d0e0;
}

.bolos {
    width: calc(100vw - 300px);
    height: calc(100vh - 100px);
}

section {
    display: flex;
}


.menu img {
    width: 25px;
    height: 25px;

}


.menu ul {
    list-style-type: none;
    text-align: left;
}

.menu li {
    width: 250px;
    display: flex;
    justify-content: space-between;
    
}

.menu li div {
    display: flex;
    align-items: center;
    
}

.menu nav ul li div img {
     margin-right: 20px;

}


footer {
    height: 50px;
    background-color: mediumvioletred;
    text-align: center;
}








